<div class="row"><h1>Become master of French conjugation!</h1><div class="row">

<%= render "form_practice" %>

<ul> <b> Verbs list </b>
  <% @verbs.each do |verb| %>
  <li><%= link_to verb.infinitive, verb %></li>
  <% end %>
</ul>
