<div class="row" ng-controller="PracticeCtrl">
  <div id="practice_form">
    <form ng-submit="set()">
      <div class="row step">
        <div id="error"></div>
        <b>Step I: Choose tenses</b><br/>
        <br>
          <input type="checkbox" ng-model="tenses.Present" checked> Present
          <input type="checkbox" ng-model="tenses.Imparfait" checked> Imparfait
          <input type="checkbox" ng-model="tenses.PasseCompose" checked> Passé Composé
          <input type="checkbox" ng-model="tenses.PasseSimple" checked> Passé Simple
          <input type="checkbox" ng-model="tenses.PlusQueParfait" checked> Plus-que-parfait
          <input type="checkbox" ng-model="tenses.FuturSimple" checked> Futur Simple
          <input type="checkbox" ng-model="tenses.Subjonctif" checked>  Subjonctif <br/>
      </div>
      <br/>
      <div class="row step">
        <b>Step II: Choose groupes</b><br/>
        <br>
        <input type="checkbox" ng-model="groups.1" checked> I
        <input type="checkbox" ng-model="groups.2" checked> II
        <input type="checkbox" ng-model="groups.3" checked> III <br/>
        <br/>
        <b>...or specifie verbs</b><br>
         <input type="text" ng-model="verbs" placeholder="être, aller, venir"> <br/>
        <b>...or exlude verbs </b><br>
         <input type="text" ng-model="excluded_verbs" placeholder="être, aller, venir"> <br/>
      </div>
      <input type="submit" value="Try me!">
    </form>

      <!-- {{t}} -->
      <p ng-repeat="v in verbs_db">
        {{v.id}}
      </p>
  </div>

  <div class="row hidden" id="answer_form">
    <div class="row"><h1>What is the form... </h1></div>
    <ul>
      <li>Verb: {{verb.infinitive}}</li>
      <li>Tense: {{tense}}</li>
      <li>Form: {{form}}</li>
    </ul>
    <form ng-submit="check()">
      <input type="text" ng-model="answer">
      <input type="submit" value="Check!">
    </form>
    {{correct_ans.f}}
  </div>
</div>


